.waldo-img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.waldo-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8rem;
}

.position {
    position: absolute;
}

.hidden {
    display: none;

}

.relative {
    position: relative;
    z-index: 1;
}

.feedback-message {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
}

.finished {
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}