.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    font-size: 28px;
    align-items: center;
}


a {
    text-decoration: none;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.logo-container {
    display: flex;
    gap: 10px;
}

.timer {
    color: white;
}

.leaderboard-container {
    margin-top: 1rem;
}

.to-leaderboard {
    font-size: 30px;
    padding: .7rem .7rem;
    background-color: rgba(73, 131, 218, 0.932);
    font-weight: 500;
    border: 0px;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
}

.char-img-header {
    height:  4rem;
}

.character-container {
    display: flex;
    gap: 1rem;
}

.found {
    opacity: 50%;
}